<p>
<form method="get" action="/quizes/<%= quiz.id %>/answer">
	Temática: <%= quiz.tema %> <p>
	Pregunta: <%= quiz.pregunta %> <p>
	<input type="text" name="respuesta" value="Responda aquí"/>
	<input type="submit" value="Enviar" />	
</form>
</p>

<br/>
<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>
<br/>
<p><strong>Comentarios:</strong></p>
<%for(index in quiz.Comments){%>
	<p>- <%=quiz.Comments[index].texto%></p>
<%}%>
